html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

*, *::after, *::before {
    box-sizing: border-box;
}

article {
    display: block;
}

body.main {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #505160;
}
.main {
    flex-grow: 1;
    background-color: #505160;
    color: #f2f2f2;
}
    .main .top-row {
        background-color: #403a45;
        border-bottom: 4px solid #d6d5d5;
        z-index: 999;
        height: 3.5rem;
        display: flex;
        align-items: center;
    }
        .main .top-row .site-title {
            margin-right: 1%;
            font-size: 2em;
            font-weight: bold;
        }
        .main .top-row h1.site-title {
            color: #f2f2f2;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .main .top-row h3.site-title {
            margin-right: auto;
            font-size: 1.25em;
            margin-top: 5px;
            margin-bottom: 0px;
            color: #d6d5d5;
        }

        .main .top-row .blog-link {
            background-color: teal;
            color: #f2f2f2;
            transform: skewX(-10deg);
            padding: 10px 1% 10px 1%;
            white-space: nowrap;
            margin-left: 0.5rem;
            font-weight: bold;
        }

        .main .top-row .links > a > span, .main .top-row .links > .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }
        .main .top-row .links a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .main .top-row .links a, .main .top-row .links .btn-link {
        }
        .main .top-row .links a:hover, .main .top-row .links .btn-link:hover {
        }
@media (max-width: 767.98px) {
    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .main .top-row {
        position: sticky;
        top: 0;
    }
    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
.archive-index {
    background-color: #efefef
}
#site_container {
    padding-top: 1.1rem;
}

#page_container {
    padding-top: 1.1rem;
    margin-right: -15px;
    margin-left: -15px;
}

#front_page_container {
    padding-top: 1.1rem;
}


h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 2.125rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.tfx-badge-light {
    color: #212529;
    background-color: #f8f9fa;

    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.tfx-py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.tfx-my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.tfx-mt-3 {
    margin-top: 1rem !important;
}

.tfx-my-2 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

.tfx-ml-2 {
    margin-left: 0.75rem !important;
}

.tfx-px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.tfx-hover-trans:hover {
    transform: skewX(-3deg) !important;
    transition: all 1s ease;
}

.tfx-hover-trans a:hover {
    text-decoration: none;
}

.tfx-flex-container {
    display: flex;
    flex-direction: row;
}

.tfx-flex-item-full {
    flex: 1 1 0;
    padding-left: 1em;
    padding-right: 1em;
}
.tfx-flex-item-75 {
    flex: 3 1 0;
    padding-left: 1em;
    padding-right: 1em;
}
.tfx-flex-25 {
    flex: 1 1 0;
    padding-left: 1em;
    padding-right: 1em;
}

.tfx-flex-article {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tfx-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    max-width: 95%;
    word-wrap: break-word;
    background-color: teal;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    /*transform: skewX(-3deg);*/
}

.tfx-card-flex {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-grow: 1;
    word-wrap: break-word;
    background-color: teal;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.tfx-card-ns {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    max-width: 95%;
    word-wrap: break-word;
    background-color: teal;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.tfx-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background-color: #00b3b3;
}

    .tfx-card-body > img {
        object-fit: cover;
        width: 100%;
        height: 50%;
    }

.tfx-card-body-flex {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: #00b3b3;
}

    .tfx-card-body-flex > img {
        object-fit: cover;
    }

.tfx-card-header {
    text-align: center;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: 1.25rem;
    font-weight: bolder;
}

.tfx-card-header-title {
    color: #f2f2f2;
}

.tfx-link-row {
    width: 100%;
    color: black;
    text-align: center;
    font-size: 1.10rem;
}

.tfx-link-row :hover {
    background-color: #009999;
    color: #fff;
    text-decoration: none;
}

.tfx-link-row a :hover {
    color: #fff;
    text-decoration: none;
}

.tfx-link-row > div :hover {
    text-decoration: none;
}

.tfx-link-text {
    transform: skewX(20deg) !important;
    color: black;
}

.tfx-white-link{
    color: #fff;
}

.tfx-white-link:hover{
    color: #fff;
}

.tfx-card-title {
    color: #403a45;
    font-size: 1.2rem;
    border-bottom: 2px solid dimgrey;
}

.tfx-card-title > h5 {
    border-bottom: 10px solid dimgrey;
}

.tfx-card-spacer {
    height: 2px;
    border-bottom: 2px;
    border-color: dimgrey;
}

.tfx-text-primary {
    color: #fff;
    font-weight: bolder;
}

.tfx-article-text > p{
    font-size: 18px;
    color: #eee;
    font-weight: bold;
}

.tfx-article-text-no-bold > p {
    font-size: 16px;
    color: #eee;
}

.tfx-teal-section {
    padding-top: 4em;
    padding-bottom: 6em;
    position: relative;
    z-index: 5;
    background-color: teal;
    --webkit-clip-path: polygon(0 0%, 100% 12%, 100% 88%, 0% 100%);
    clip-path: polygon(0 0%, 100% 12%, 100% 88%, 0% 100%);
}

.tfx-purple-section {
    padding-top: 4em;
    padding-bottom: 3em;
    position: relative;
    z-index: 4;
    --webkit-clip-path: polygon(0 8%, 100% 4%, 100% 96%, 0% 100%);
    clip-path: polygon(0 8%, 100% 4%, 100% 96%, 0% 100%);
}

.tfx-main-pg-block {
    overflow: hidden;
}

    .tfx-main-pg-block:hover .tfx-main-pg-img-txt {
        object-fit: cover;
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        left: 0px;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    }

    .tfx-main-pg-block:hover .tfx-main-pg-img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all 0.5s ease;
        max-width: 100%;
        max-height: 50%;
        border-radius: 0%;
    }

.tfx-main-pg-img {
    object-fit: cover;
    border-radius: 25%;
    overflow: hidden;
    position: relative;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.5s ease;
    max-width: 100%;
    max-height: 50%;
}

.tfx-main-pg-img-txt {
    display: none;
    position: absolute;
    z-index: 999;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.tfx-main-pg-header {
    display: inline-block;
    position: relative;
}


.tfx-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.tfx-btn-teal {
    color: #fff;
    background-color: teal;
    border-color: teal;
}

    .tfx-btn-teal:hover {
        color: #000;
        background-color: #00b3b3;
        border-color: teal;
    }

    .tfx-btn-teal.focus, .tfx-btn-teal:focus {
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.5)
    }

    .tfx-btn-teal.disabled, .tfx-btn-teal:disabled {
        color: #bfbfbf;
        background-color: #006666;
        border-color: #403a45;
    }

.tfx-btn-purple {
    color: #fff;
    background-color: #505160;
    border-color: #505160;
}

    .tfx-btn-purple:hover {
        color: #000;
        background-color: grey;
        border-color: #505160;
    }

    .tfx-btn-purple.focus, .tfx-btn-purple:focus {
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.5)
    }

    .tfx-btn-purple.disabled, .tfx-btn-purple:disabled {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

.tfx-flex-row {
    display: flex; 
    flex-grow: 0; 
    flex-shrink: 0;
    flex-basis: 25%;
}

.tfx-flex-card {
    flex: 1 1 33%;
}

.tfx-fill {
    flex: 1 1 auto;
}

.tfx-container-main {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.tfx-container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.tfx-container-fluid > main {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.tfx-row-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
}

.tfx-row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
}

.tfx-row-card {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
}

.tfx-row-card a {
    text-decoration: none;
}

.tfx-article-body > code {
    background-color: rgba(0, 0, 0, .125);
}

.tfx-big-text-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.tfx-centered-presentation-row {
    margin-left: 20%;
    margin-right: 20%;
}

.text-center {
    text-align: center;
}

#footer {
    flex-shrink: 0;
    width: 100%;
}

.tfx-toast-header-success {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .25rem .75rem;
    color: #fff;
    background-color: teal;
    background-clip: padding-box;
}

.tfx-toast-header-error {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .25rem .75rem;
    color: #fff;
    background-color: indianred;
    background-clip: padding-box;
}

.tfx-modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 5em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.tfx-modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 90%;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 100%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.tfx-modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.7s;
}

.close-modal {
    position: absolute;
    top: 1em;
    right: 1em;
    color: #f1f1f1;
    font-size: 400%;
    font-weight: bold;
    transition: 0.3s;
}

    .close-modal:hover, .close-modal:focus {
        color: red;
        text-decoration: none;
        cursor: pointer;
    }

.left-modal {
    position: absolute;
    top: 50%;
    left: 1em;
    color: #f1f1f1;
    font-size: 400%;
    font-weight: bold;
    transition: 0.3s;
}

    .left-modal:hover, .left-modal:focus {
        color: teal;
        text-decoration: none;
        cursor: pointer;
    }

.right-modal {
    position: absolute;
    top: 50%;
    right: 1em;
    color: #f1f1f1;
    font-size: 400%;
    font-weight: bold;
    transition: 0.3s;
}

    .right-modal:hover, .right-modal:focus {
        color: teal;
        text-decoration: none;
        cursor: pointer;
    }

.tfx-exp-pic {
    max-width: 100%;
    cursor: pointer;
}

.tfx-exp-img {
    max-width: 100%;
    cursor: pointer;
}

.tfx-blog-link-inner {
    transform: skewX(10deg);
}

.tfx-toast {
    max-width: 350px;
    overflow: hidden;
    font-size: .875rem;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    opacity: 0;
    border-radius: .25rem;
}

    .tfx-toast .hide {
        display: none;
    }

    .tfx-toast .show {
        display: block;
        opacity: 1;
    }

.tfx-show {
    display: block;
    opacity: 1;
}

.tfx-fade {
    transition: opacity .4s linear;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea.form-control {
    height: auto;
}

hr {
    opacity: 0%;
}