<div class="top-row px-4">
    <h1 class="site-title"><a href="/" class="text-reset text-decoration-none">@Constants.SiteTitle</a></h1>
    <h3 class="site-title">chunes and code</h3>
        <a class="blog-link" href="/">
            Home
        </a>
        <a class="blog-link" href="/@Constants.BlogPath/">
            Blog
        </a>
        <a class="blog-link" href="/@Constants.ProjectPath/">
            Projects
        </a>
        <a class="blog-link" href="/links/">
            Links
        </a>
        <a class="blog-link" href="/contact/">
            Contact
        </a>
</div>