<div class="top-row px-4">
    <h1 class="site-title"><a href="/" class="text-reset text-decoration-none">@Constants.SiteTitle</a></h1>
    <h3 class="site-title">chunes and code</h3>
        <a class="blog-link" href="/">
            <span class="tfx-blog-link-inner">Home</span>
        </a>
        <a class="blog-link" href="/@Constants.BlogPath/">
            <span class="tfx-blog-link-inner">Blog</span>
        </a>
        <a class="blog-link" href="/@Constants.ProjectPath/">
            <span class="tfx-blog-link-inner">Projects</span>
        </a>
        <a class="blog-link" href="/links/">
            <span class="tfx-blog-link-inner">Links</span>
        </a>
        <a class="blog-link" href="/contact/">
            <span class="tfx-blog-link-inner">Contact</span>
        </a>
</div>