<base href="/" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@Model.GetString("Title")</title>
@Html.Partial("_partials/_favicons")
<link href="assets/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/obsidian.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<link type="application/rss+xml" rel="alternate" title="@Constants.BlogTitle" href=@($"/{Constants.BlogPath}/rss/index.rss") />
