Title: Links | seawaves // tfx
---
<div class="tfx-flex-item-full">
    <div class="tfx-big-text-4 tfx-my-4">
        <h1>links // tfx</h1>
    </div>

    <hr class="tfx-big-text-4" />
    <div>
        <div>
            <a class="tfx-white-link" href="https://saltmonger.itch.io/">
                <h1>
                    itch.io
                </h1>
                <h3>
                    Game jam and web based games >>
                </h3>
            </a>
            <a class="tfx-white-link" href="https://seawaves.bandcamp.com/">
                <h1>
                    Bandcamp
                </h1>
                <h3>
                    Game soundtracks and standalone albums >>
                </h3>
            </a>
            <a class="tfx-white-link" href="https://soundcloud.com/tfx-st">
                <h1>
                    Soundcloud
                </h1>
                <h3>
                    Singles and work in progress tunes >>
                </h3>
            </a>
            <a class="tfx-white-link" href="https://github.com/saltMonger">
                <h1>
                    Github
                </h1>
                <h3>
                    Software projects, code snippets, and gists >>
                </h3>
            </a>
        </div>
    </div>
</div>