Title: Links | seawaves // tfx
---
<div class="container-fluid">
    <div class="display-4 my-4">
        <h1>links // tfx</h1>
    </div>

    <hr class="display-4" />
    <div class="row">
        <div class="col-md-12">
            <a class="tfx-white-link" href="/">
                <h1>
                    itch.io
                </h1>
                <h3>
                    Game jam and web based games >>
                </h3>
            </a>

            <a class="tfx-white-link" href="/">
                <h1>
                    Youtube
                </h1>
                <h3>
                    This doesn't exist yet D: >>
                </h3>
            </a>

            <a class="tfx-white-link" href="/">
                <h1>
                    Bandcamp
                </h1>
                <h3>
                    Game soundtracks and standalone albums >>
                </h3>
            </a>

            <a class="tfx-white-link" href="/">
                <h1>
                    Soundcloud
                </h1>
                <h3>
                    Singles and work in progress tunes >>
                </h3>
            </a>

            
            <a class="tfx-white-link" href="/">
                <h1>
                    Github
                </h1>
                <h3>
                    Software projects, code snippets, and gists >>
                </h3>
            </a>
        </div>
    </div>
</div>