<div class="tfx-container-fluid">
    <div class="tfx-display-4 tfx-my-4 text-center">
        <h1>Contact Me</h1>
    </div>
    <hr />
    <div class="tfx-centered-presentation-row tfx-article-text">
        <p class="text-center">
            Interested in working on some project together? Need music for a game, video, or something else? Just want to tell me you've received an unbelievably complex do-it-yourself meal kit from Japan? Let me know by using the form below.
        </p>
        @Html.Partial("/_partials/_contactForm.cshtml")
    </div>
</div>