<div class="container-fluid">
    <div class="display-4 my-4">
        <h1>Contact Me</h1>
    </div>

    <hr class="display-4" />

    <div class="row">
        <div class="col-md-8 offset-md-2 tfx-article-text">
            <p class="text-center">
                Interested in working on some project together? Need music for a game, video, or something else? Just want to tell me you've received an unbelievably complex do-it-yourself meal kit from Japan? Let me know by using the form below.
            </p>
            @Html.Partial("/_partials/_contactForm.cshtml")
        </div>
    </div>

</div>