ArchiveSources: => $"{Constants.BlogPath}/posts/*"
ArchiveKey: => Get<DateTime>("Published").ToString("yyyy")
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"{Constants.BlogPath}/{GetString("GroupKey")}/index.html" : $"{Constants.BlogPath}/{GetString("GroupKey")}/{GetInt("Index")}.html"
ArchivePageSize: => @Constants.PostsPerPage
ArchiveOrderKey: Published
ArchiveOrderDescending: true
Title: Categories
ArchiveTitle: => $"{GetString("GroupKey")} posts"
---
<section class="blog-section">
    <div class="blog-container">
        @if (Document.ContainsKey(Keys.GroupKey))
        {
        @if (Document.ContainsKey(Keys.GroupKey))
        {
            @Html.Partial($"/{Constants.BlogPath}/_posts.cshtml", Document.GetChildren())
        }
        }
        else
        {
            @foreach (IDocument year in Document.GetChildren())
            {
                <div>
                    <div class="p-3 mb-2 bg-light">
                        <h4>@Html.DocumentLink(year)</h4>
                    </div>
                </div>
            }
        }
    </div>
</section>