<div class="tfx-card">
    <div class="tfx-card-header"><span class="oi oi-folder"></span> Categories</div>
    <div class="tfx-card-body">
        <a class="tfx-link-row mb-2" href="@(Constants.ProjectPath)">
            <div>
                All
            </div>
        </a>
        @foreach (IDocument category in Outputs
           .FromPipeline(nameof(Data))
           .FilterSources($"{Constants.ProjectPath}/categories/*")
           .OrderBy(x => x.GetString("Title")))
        {
            category.GetString("Title");
            var link = category.GetLink().RemoveEnd(".yml"); //remove .yml from path
            <a class="tfx-link-row mb-2" href="@link" class="list-group-item list-group-item-action @(link==Document.GetLink()?"active":"")">
                <div>
                    @category.GetTitle()
                </div>
            </a>
        }
    </div>
</div>
