<div class="mt-3">
    @Html.Partial($"/{Constants.ProjectPath}/components/_projectSidebarCategories.cshtml")
</div>
@if (Model.GetList<string>("Link") != null)
{
    <div class="mt-3">
        @Html.Partial($"/{Constants.ProjectPath}/components/_projectSidebarLinks.cshtml", Model)
    </div> 
}
